<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FB Clone
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="clearNotifications()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-text>{{likesNotification}} new likes</ion-text>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-content>
            <ion-textarea placeholder="Whats on your mind?" #postInput></ion-textarea>
            <div class="ion-text-right">
              <ion-button (click)="addPost(postInput.value)">Post</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-list>
          <ion-card *ngFor="let post of posts trackBy: trackPostByFn, let i = index">
            <ion-card-header>
              <h2>{{post.content}}</h2>
              <div class="ion-text-right">
                <ion-button (click)="likePost(post.likes,post.id)">{{post.likes}} Like</ion-button>
                <ion-button color="danger" (click)="deletePost(post.id)">Delete</ion-button>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea class="comment" placeholder="Add a comment"></ion-textarea>
              <div class="ion-text-right">
                <ion-button>Reply</ion-button>
              </div>
              <ion-list>
                <ion-item *ngFor="let comment of post.comments trackBy: trackCommentByFn, let i = index">
                  <h3>Comment 1</h3>
                  <div slot="end">
                    <ion-button color="danger">Delete</ion-button>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>